<app-nav></app-nav>
<h2 class="h4-container">Csoportok</h2>
<!-- <mat-list class="listposition">
  <h3 mat-subheader>Csoportok</h3>
  <mat-list-item *ngFor="let group of groups">
    <mat-icon mat-list-icon>user</mat-icon>
    <h4 type="link" mat-line type [routerLink]="'/groups/' + group.id + '/users'"> {{group.name}} </h4>
    <button mat-raised-button class="btn" [routerLink]="'/groups/edit/' + group.id">Szerkesztés</button>
    <button mat-raised-button class="btn" (click)="deleteGroup(group.id)" (groupDeleted)="handleGroupDeleted($event)">Törlés</button>
  </mat-list-item>
  <button mat-raised-button class="new-btn" (click)="openDialog()">Új Csoport</button>  -->

  <div class="container">
    <table mat-table [dataSource]="dataSource" matSort class="table-size">
  
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> No. </th>
        <td mat-cell *matCellDef="let group"> {{group.id}}</td>
      </ng-container>
  
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Név </th>
        <td mat-cell *matCellDef="let group" [routerLink]="'/groups/' + group.id + '/decks'"> <a type="link"> {{group.name}} </a></td>
      </ng-container>
  
      <ng-container matColumnDef="edit">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Csoport kezelés </th>
        <td mat-cell *matCellDef="let group"> <button class="btn" mat-raised-button
          [routerLink]="'/groups/edit/' + group.id">Szerkesztés</button>
          <button class="btn" mat-raised-button (click)="deleteGroup(group.id)">Törlés</button>
        </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
  </div>
    <div class="new-btn-position">
      <button class="new-btn" mat-raised-button (click)="openDialog()">Új csoport</button>
    </div>