<!-- <app-nav></app-nav>-->

<button mat-icon-button id="fab" title="Új" *ngIf="!isStudent" ><mat-icon aria-label= "Új" (click)="openDialog()"  >add</mat-icon></button>

<div class="card-list-container" *ngFor="let card of cards">
  <div class="two-card-container">
    <mat-card class="card">
      <mat-card-title>Kérdés</mat-card-title>
      <mat-card-content>
        <p>
          {{card.question}}
        </p>
      </mat-card-content>
    </mat-card>

    <div class="space"></div>
    <div class="vl"></div>
    <div class="space"></div>

    <mat-card class="card">
      <mat-card-title>Válasz</mat-card-title>
      <mat-card-content>
        <p>
          {{card.answer}}

        </p>
      </mat-card-content>
      <!-- <mat-card-actions>
        <button mat-button>Tudtam</button>
        <button mat-button>Nem tudtam</button>
      </mat-card-actions> -->
    </mat-card>
    
  </div>
  
  <div class="actions">
      <div></div>
    <button mat-stroked-button color="primary" class="btn" routerLink="/learningcard/edit/{{card.id}}" *ngIf="!isStudent" >Szerkesztés</button>
    <div></div>
    <button mat-stroked-button color="warn" class="btn" (click) = "destroy(card.id)" *ngIf="!isStudent" >Törlés</button>
  </div>
</div>