<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav"
  [ngClass] = "hidden"
  fixedInViewport="false" 
  [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
  [mode]="(isHandset$ | async) ? 'over' : 'side'" 
  [opened]="false">
    <mat-toolbar>Menü</mat-toolbar>
    <mat-nav-list>
      <ul>
        <li><button mat-icon-button title="Felhasználók"><mat-icon aria-label= "Felhasználók">person</mat-icon></button></li>
        <li><button mat-icon-button title="Paklik"><mat-icon aria-label= "Paklik">dashboard</mat-icon></button></li>
        <li><button mat-icon-button title="Csoportok"><mat-icon aria-label= "Csoportok">group</mat-icon></button></li>
        <li><button mat-icon-button title="Gyakorlás"><mat-icon aria-label= "Gyakorlás">play_circle_outline</mat-icon></button></li>
        <li><button mat-icon-button title="Kijelentkezés"><mat-icon aria-label= "Kijelentkezés">power_settings_new</mat-icon></button></li>
      </ul>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>cardit</span>

    </mat-toolbar>
  </mat-sidenav-content>
</mat-sidenav-container>