<div class="conatiner">
  <div class="h4-container">
    <h3>Új felhasználó adatai</h3>
    </div>
  <div class="pos">
    <mat-form-field>
      <input matInput placeholder="Vezetéknév" [(ngModel)]="user.lastName" required>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Keresztnév" [(ngModel)]="user.firstName" required>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="E-mail cím" [(ngModel)]="user.email" required>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Jelszó" [value]="randomPassword" required>
    </mat-form-field>
    <mat-form-field>
      <mat-select placeholder="Szerepkör" [(ngModel)]="role">
        <mat-option value="admin">Admin</mat-option>
        <mat-option value="contributor">Mentor</mat-option>
        <mat-option value="student">Hallgató</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-select placeholder="Csoport" [(ngModel)]="user.GroupId">
        <mat-option *ngFor="let group of groups" [value]="group.id">{{group.name}}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="both-btn">
    <button class="btn" mat-raised-button (click)="passwordGenerator()">Jelszó generálása</button>
    <div class="btn-position">
      <button class="btn" mat-raised-button md-dialog-close (click)="save()">Felvétel</button>
    </div>
  </div>
</div>