<app-nav></app-nav>
<div class="conatiner">
<h1>Csoport adatainak módosítása</h1>
  <mat-form-field>
    <input type="text" matInput placeholder="Csoport neve" [(ngModel)]="group.name">
  </mat-form-field>
  <mat-card *ngFor="let deck of selectedDecks">
    <mat-checkbox [value]="deck.id"
      (change)="checkValue($event)">{{deck.subject}}</mat-checkbox>
  </mat-card>
  <mat-card *ngFor="let selectable of selectableDecks">
    <mat-checkbox [value]="selectable.id"
      (change)="checkValue($event)">{{selectable.subject}}</mat-checkbox>
  </mat-card>
</div>
<button class="btn" mat-raised-button (click)="update()">Módosítás</button>
