.btn {
  background-color:  #00bfb2;
  color: white;
  width: 50%;
}

.container {
  max-width: 30vw;
  display: flex;
  justify-content: baseline;
  flex-direction: column;
  padding-left: 35%;
  padding-top: 5%;
}