<app-nav></app-nav>
<a md-fab id="fab">
  <md-icon>add</md-icon>
</a>
<div class="card-list-container" *ngFor="let card of cards">
  <div class="two-card-container">
    <mat-card class="card">
      <mat-card-title>Kérdés</mat-card-title>
      <mat-card-content>
        <p>
          {{card.question}}
        </p>
      </mat-card-content>
    </mat-card>
    <div class="space"></div>
    <div class="vl"></div>
    <div class="space"></div>
    <mat-card class="card">
      <mat-card-title>Válasz</mat-card-title>
      <mat-card-content>
        <p>
          {{card.answer}}
        </p>
      </mat-card-content>
      <!-- <mat-card-actions>
        <button mat-button>Tudtam</button>
        <button mat-button>Nem tudtam</button>
      </mat-card-actions> -->
    </mat-card>
    <button>Szerkesztés</button>
    <button>Törlés</button>
  </div>
</div>