.card-list-container {
  padding-top: 50px;
}

.two-card-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.card {
  height: 245px;
  width: 200px;
  background-color: aquamarine;
}

.vl {
  border-left: 1px solid grey;
  height: 220px;
}

.space {
  width: 20px;
}