.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
  background-color: #09b3a7
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: black;
  justify-content: space-between;
}
