.listposition {
    padding-left: 30%;
  }

.table-size {
  width: 100%;
}

.subtitle-container {
  display: flex;
  justify-content: center;
}

.pag-pos {
  display: flex;
  justify-content: center;
}

#fab{
  left: auto !important;
  background-color: #09b3a7;
}