<app-nav></app-nav>
<mat-list fxLayout="row" fxLayoutAlign="center center" style="height: 100vh; width: 100vh" class="listposition">
  <h1 mat-subheader>{{ group.name }}</h1>

<mat-tab-group mat-align-tabs="center">
  <mat-tab label="Felhasználók">
    <div class="container">
      <table mat-table [dataSource]="dataSource" matSort class="table-size">
    
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Név </th>
          <td mat-cell *matCellDef="let user"> {{user.lastName}} {{user.firstName}} </td>
        </ng-container>
    
        <ng-container matColumnDef="email">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> E-mail cím </th>
          <td mat-cell *matCellDef="let user"> {{user.email}}</td>
        </ng-container>
    
        <ng-container matColumnDef="role">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Szerepkör </th>
          <td mat-cell *matCellDef="let user"> {{user.role}} </td>
        </ng-container>
    
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    </div>
  </mat-tab>

  <mat-tab label="Paklik">
     <br>
 <!-- <div>
      <h2 mat-subheader></h2>
      <mat-list-item *ngFor="let deck of deckData">
      <h4 mat-line>{{ deck.subject }}</h4>
      <button mat-raised-button class="btn" (click)="deleteDeck(deck.id)">Törlés</button>
    </mat-list-item>
    <button mat-icon-button id="fab" title="Új" ><mat-icon aria-label= "Új" (click)="openDialog()">add</mat-icon></button>
  </div>   -->
  <div class="container">
    <table mat-table [dataSource]="deckDataSource" matSort class="table-size">
  
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Pakli neve </th>
        <td mat-cell *matCellDef="let deck"> {{deck.subject}}</td>
      </ng-container>
  
      <ng-container matColumnDef="edit">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Pakli kezelés </th>
        <td mat-cell *matCellDef="let deck"> <button class="btn" mat-raised-button
          (click)="deleteDeck(deck.id)">Törlés</button>
      </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="deckDisplayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: deckDisplayedColumns;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
  </div>
  <button mat-icon-button id="fab" title="Új" ><mat-icon aria-label= "Új" (click)="openDialog()">add</mat-icon></button>
  </mat-tab>
</mat-tab-group>