<div id="loginBackground" >
  <div class="item-container">
    <div>
      <img src="assets/images/flow.png" alt="" class="size">
    </div>
    <div class="login-container">
      <div class="form-box">
        <mat-form-field>
          <input [(ngModel)]="userEmail" matInput placeholder="E-mail cím" type="email" [formControl]="email" required>
          <mat-error *ngIf="email.invalid">
            {{getErrorMessageEmail()}}
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <input [(ngModel)]="userPassword" matInput placeholder="Jelszó" type="password" [formControl]="password"
            required>
          <mat-error *ngIf="password.invalid">
            {{getErrorMessagePassword()}}
          </mat-error>
        </mat-form-field>
        <div class="btn-position">
          <button mat-raised-button class="btn" (click)="submit()">Bejelentkezés</button>
        </div>
        <a type="link" class="forget-password" [routerLink]="'/users/login/password'">Elfelejtettem a jelszavam!</a>
      </div>
    </div>
  </div>
</div>