.title {
  text-align: center;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  overflow: hidden;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  overflow: hidden;
  align-items: center;
  margin-top: 30px;

}

.drag-drop-container {
    max-width: 100%;
    border: solid 1px #ccc;
    min-height: 60px;
    display: flex;
    background: grey;
    border-radius: 4px;
    overflow: hidden;
    align-items: center;
}

.questions {
  align-self: flex-start;
}

.answers {
  align-self: flex-end;
}

.list {
  width: 120px;
  max-width: 100%;
  border: solid 1px #ccc;
  min-height: 60px;
  background: rgb(73, 112, 107);
  border-radius: 6px;
  overflow: hidden;
  display: block;
  text-align: center;
}

.box {
  padding: 20px 10px;
  border-bottom: solid 3px darkgrey;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  cursor: move;
  background: #09b3a7;
  font-size: 14px;
  text-align: center;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
              0 8px 10px 1px rgba(0, 0, 0, 0.14),
              0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.box:last-child {
  border: none;
}

.list.cdk-drop-list-dragging .box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.space {
  width: 10px;
}