.mat-card {
    background-color: white;
    align-items: center;
    }

.back-size {
    width: 100%;
    display: flex;
    justify-content: baseline;
}

.pic-box {
    padding: 11%;
    display: flex;
    justify-content: center;
    border-radius: 0;
    width: 100%;
    height: 50%;
  }

  .size {
      width: 320px;
      height: 320px;
  }