<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav"
  [ngClass] = "hidden"
  fixedInViewport="true" 
  [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
  [mode]="(isHandset$ | async) ? 'over' : 'side'" 
  [opened]="false">
    <mat-toolbar class="elements-color">Menü</mat-toolbar>
    <mat-nav-list>
      <ul>
        <li *ngIf="isAdmin" class="elements-color"><button class="elements-color" mat-icon-button title="Felhasználók" routerLink="/users" *ngIf="isAdmin"><mat-icon aria-label= "Felhasználók">person</mat-icon>Felhasználók</button></li>
        <li class="elements-color"><button class="elements-color" mat-icon-button title="Adataim" routerLink="/users/:id/me"><mat-icon aria-label= "Adataim">account_box</mat-icon>Adataim</button></li>
        <li *ngIf="!isStudent" class="elements-color"><button class="elements-color" mat-icon-button title="Paklik" routerLink="/subjects" *ngIf="!isStudent"><mat-icon aria-label= "Paklik">dashboard</mat-icon>Paklik</button></li>
        <li *ngIf="!isStudent" class="elements-color"><button class="elements-color" mat-icon-button title="Csoportok" routerLink="/groups" *ngIf="!isStudent"><mat-icon aria-label= "Csoportok">group</mat-icon>Csoportok</button></li>
        <li class="elements-color"><button class="elements-color" mat-icon-button title="Gyakorlás" routerLink="/subjects"><mat-icon aria-label= "Gyakorlás">play_circle_outline</mat-icon>Gyakorlás</button></li>
        <li class="elements-color"><button class="elements-color" mat-icon-button title="Kijelentkezés" (click)="logout()"><mat-icon aria-label= "Kijelentkezés">power_settings_new</mat-icon>Kijelentkezés</button></li>
        
      </ul>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <button class="btn" type="button" mat-raised-button routerLink="/index">Főldal</button>
      <p>Üdvözlünk, {{currentUser.lastName}} {{currentUser.firstName}}!</p>
      <span>cardit</span>
    </mat-toolbar>
  </mat-sidenav-content>
</mat-sidenav-container>