<div class="container">

  
    <mat-form-field>
      <textarea matInput placeholder="Kérdés"></textarea>
    </mat-form-field>

    <mat-form-field>
        <textarea matInput placeholder="Válasz"></textarea>
      </mat-form-field>
  
  
    <mat-form-field>
      <mat-select placeholder="Nehézség">
        <mat-option value="option">1</mat-option>
        <mat-option value="option">2</mat-option>
        <mat-option value="option">3</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
        <input matInput placeholder="Típus">
      </mat-form-field>

      <button mat-stroked-button color="primary" class="btn" (click)="save()">Mentés</button>
    <div></div>
    <button mat-stroked-button color="warn" class="btn" routerLink = "/learningcard">Mégsem</button>
  </div>
