.btn {
  background-color: #00bfb2;
  color: white;
  margin: 2%;
}

.new-btn-position {
  padding-left: 15%;
}

.new-btn {
  background-color: #00bfb2;
  color: white;
  width: 20%;
}

.table-size {
  width: 100%;
  padding-left: 15%;
}

.container {
  display: flex;
  flex-direction: column;
  padding: 15px;
}

.h4-container {
  display: flex;
  justify-content: center;
}
