<!--  <div class="direction">
  <div>
    <a>{{userName}}</a>
    <a class="space">{{userModel.email}}</a>
  </div>
  <div class="btn-driection">
    <button mat-raised-button class="btn" (click)="openEditDialog()">Szerkesztés</button>
    <button mat-raised-button class="btn" (click)="deleteUser()" (userDeleted)="handleUserDeleted($event)">Törlés</button>
  </div>
</div> -->
<app-nav></app-nav>
<mat-list class="listposition">
  <h3 mat-subheader>Felhasználók</h3>
  <mat-list-item *ngFor="let user of users">
    <mat-icon mat-list-icon>user</mat-icon>
    <h4 mat-line>{{user.lastName}} {{user.firstName}}</h4>
    <h4 mat-line>{{user.email}}</h4>
    <button mat-raised-button class="btn" (click)="openEditDialog(user.id)">Szerkesztés</button>
    <button mat-raised-button class="btn" (click)="deleteUser(user.id)" (userDeleted)="handleUserDeleted($event)">Törlés</button>
  </mat-list-item>
  <button mat-raised-button class="new-btn" (click)="openDialog()">Új felhasználó</button>