<app-nav></app-nav>
<mat-list class="listposition">
  <h3 mat-subheader>Felhasználók</h3>
  <mat-list-item *ngFor="let user of users">
    <mat-icon mat-list-icon>user</mat-icon>
    <h4 mat-line>{{user.lastName}} {{user.firstName}}</h4>
    <h4 mat-line>{{user.email}}</h4>
    <button mat-raised-button class="btn" [routerLink]="'/users/edit/' + user.id">Szerkesztés</button>
    <button mat-raised-button class="btn" (click)="deleteUser(user.id)" (userDeleted)="handleUserDeleted($event)">Törlés</button>
  </mat-list-item>
  <button mat-raised-button class="new-btn" (click)="openDialog()">Új felhasználó</button>